---
import DefaultPage from "../layouts/DefaultPage.astro";
---

<DefaultPage
  title="Page title"
  description="Page description"
>
  <main slot="body">
		<h2>This is static page title</h2>
		<p>
			This is test of main body. It is rendered staticaly. It uses astro component.
		</p>
  </main>
</DefaultPage>