
.counter{
  font-size: 4rem;
  font-weight: 400;
  text-align: center;
}

.primary-btn{
  padding: 1rem 2rem;
  background-color: var(--primary-color,red);
  color: var(--primary-color-contrast,#fff);
}

.base-btn{
  padding: 1rem 2rem;
  background-color: var(--base-color,#fff);
  color: var(--base-color-contrast,#111);
}