
<style>
  footer{
    display: flex;
    justify-content: space-between;
    font-size: 2rem;
    background-color: var(--accent-color,#333);
    color: var(--accent-color-contrast,#fff);
    padding: var(--page-padding,3rem);
  }
</style>

<footer>
  <div>
    Left side footer
  </div>
  <div>
    Right side footer
  </div>
</footer>